<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.CookingMama.dev.repository.AdminRepository">
    <insert id="adminSignUp">
        INSERT INTO
            admin(admin_email, admin_pw, admin_name, admin_phone_number, admin_birth)
        VALUES
            (#{adminEmail}, #{adminPw}, #{adminName}, #{adminPhoneNumber}, #{adminBirth})
    </insert>
    <select id="adminLogin" resultType="AdminDTO">
        SELECT
            id, admin_email, admin_pw, admin_name, admin_birth, admin_phone_number
        FROM
            admin
        WHERE
            admin_email = #{adminEmail} AND admin_pw = #{adminPw}
    </select>
    <select id="itemList" resultType="AdminItemResponse">
        SELECT
            c.category_name, i.item_image, i.item_name, i.item_option, i.item_price
        FROM
            items as i
        INNER JOIN
            category as c
        ON
            c.id = i.category
        WHERE
            i.admin_id = #{adminId};
    </select>
    <select id="itemDetail" resultType="AdminItemResponse">
        SELECT
            c.category_name, i.item_image, i.item_name, i.item_option, i.item_price, i.item_info, i.item_count
        FROM
            items AS i
        INNER JOIN
            category AS c
        ON
            i.category = c.id
        WHERE
            i.id = #{itemId} and i.admin_id = #{adminId};
    </select>
    <update id="updateItem">
        UPDATE
            items
        SET
            category = #{category}, item_image = #{itemImage}, item_name = #{itemName}, item_option = #{itemOption}, item_price = #{itemPrice}, item_info = #{itemInfo}, item_count = #{itemCount}
        WHERE
            id = #{itemId} AND admin_id = #{adminId}
    </update>
    <select id="adminOrderList" resultType="AdminOrderListResponse">
        SELECT
            o.order_number, o.order_date, c.category_name, o.admin_id, i.item_name, i.item_option, o.item_price, o.item_count, o.user_id, o.item_discount, o.item_total_price, o.status, o.tracking_number
        FROM
            orders as o
        INNER JOIN
            items as i
        ON
            i.id = o.item_id
        INNER JOIN
            category as c
        ON
            c.id = i.category
        WHERE
            o.admin_id = #{adminId}
    </select>
    <update id="adminUpdateOrderList" parameterType="AdminUpdateOrderListRequest">
        UPDATE
            orders
        SET
            status = #{status}, tracking_number = #{trackingNumber}
        WHERE
            id = (SELECT * FROM
                    (SELECT
                        id
                    FROM
                        orders
                    WHERE
                        admin_id = #{adminId}
                    AND
                        order_number = #{orderNumber}
                    AND
                        item_id = #{itemId}) as s);
    </update>
</mapper>