<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.CookingMama.dev.repository.HeartsRepository">
    <insert id="addHearts" parameterType="Hearts">
        INSERT INTO
            hearts(user_id, item_id, item_option, item_count, item_price)
        VALUES
            (#{userId}, #{itemId}, #{itemOption}, #{itemCount}, #{itemPrice})
    </insert>
    <select id="showHearts" parameterType="Integer" resultType="Hearts">
        SELECT
            item_id, item_option, item_count, item_price
        FROM
            hearts
        WHERE user_id = #{userId}
    </select>
</mapper>