<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.CookingMama.dev.repository.OrderRepository">
    <insert id="addOrders" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO orders
        (admin_id, item_id, user_id, item_price, item_count, item_discount, item_total_price,
        order_number)
        VALUES
        <foreach collection="requests" item="r" separator=",">
            (#{r.adminId}, #{r.itemId}, #{r.userId}, #{r.itemPrice}, #{r.itemCount}, #{r.itemDiscount},
            #{r.itemTotalPrice}, #{r.orderNumber})
        </foreach>
    </insert>
    <update id="cancelOrders">
        UPDATE orders SET
        status = 2
        WHERE
        order_number = #{orderNumber} AND user_id = #{userId}
    </update>
    <select id="myOrders" resultType="OrderResponse">
        SELECT
        a.admin_name, i.item_name, o.item_price, o.item_count, o.item_discount, o.item_total_price, o.order_number,
        o.tracking_number, o.order_date, o.status
        FROM orders as o
        LEFT JOIN admin as a ON a.id = o.admin_id
        LEFT JOIN items as i ON i.id = o.item_id
        WHERE o.user_id = #{userId}
    </select>
</mapper>