<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.CookingMama.dev.repository.UserRepository">
    <select id="getAllItem" resultType="ItemListResponse">
        SELECT
        i.id, i.item_image, i.item_name, a.admin_name, c.category_name, i.item_price
        FROM items AS i
        LEFT JOIN admin AS a ON i.admin_id = a.id
        LEFT JOIN category AS c ON i.category = c.id
    </select>
    <insert id="userSignup" useGeneratedKeys="true" keyColumn="id">
        INSERT INTO user
        (user_email, user_pw, user_name, user_phone_number, user_birth, user_address, user_address_detail, user_zipcode)
        VALUES 
        (#{userEmail}, #{userPw}, #{userName}, #{userPhoneNumber}, #{userBirth}, #{userAddress}, #{userAddressDetail}, #{userZipcode})
    </insert>
    <select id="userLogin" resultType="UserDTO">
        SELECT
        id, user_email, user_pw, user_name, user_birth, user_address, user_address_detail, user_zipcode, user_phone_number
        FROM user
        WHERE user_email = #{userEmail} AND user_pw = #{userPw}
    </select>
    <select id="userInfo" resultType="UserDTO">
        SELECT
        id, user_email, user_pw, user_name, user_birth, user_address, user_address_detail, user_zipcode, user_phone_number
        FROM user
        WHERE id = #{id}
    </select>
    <update id="updateUser">
        UPDATE user SET
        user_email = #{userEmail}, user_pw = #{userPw}, user_name = #{userName}, user_birth = #{userBirth}, user_address = #{userAddress},
        user_address_detail = #{userAddressDetail}, user_zipcode = #{userZipcode}
        WHERE id = #{id}
    </update>
    <select id="getOneItem" resultType="UserItemResponse">
        SELECT
        i.id, i.item_image, i.item_name, a.admin_name, c.category_name, i.item_option, i.item_price, i.item_info, i.item_count
        FROM items AS i
        LEFT JOIN admin AS a ON i.admin_id = a.id
        LEFT JOIN category AS c ON i.category = c.id
        WHERE i.id = #{itemId}
    </select>
</mapper>