<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <!--dto-->
        <package name="com.CookingMama.dev.domain.dto"/>
        <package name="com.CookingMama.dev.domain.response"/>
        <package name="com.CookingMama.dev.domain.request"/>
    </typeAliases>
    <mappers>
        <!--mapper-->
        <mapper resource="mybatis/mapper/ItemRegistMapper.xml"/>
        <mapper resource="mybatis/mapper/userMapper.xml" />
        <mapper resource="mybatis/mapper/StockManagementMapper.xml"/>
        <mapper resource="mybatis/mapper/adminMapper.xml"/>
    </mappers>
</configuration>